.box {
  box-sizing: border-box;
  width: 20%;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  background: #cceacc;
  display: inline-block;
  cursor: pointer;
  transition: all 300ms;
}

.chosen {
  background: #76d0f9;
  pointer-events: none;
  animation: box-expand;
  animation-duration: 1s;  
}

.chosen p {
  transform: scale(1.1);
  transform-origin: center;
}

@keyframes box-expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    background-color:white;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
